@media screen and (max-width : 1230px) {
    .container {
        max-width: 1024px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-home {
        max-width: 1024px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-logo-slider {
        max-width: 1024px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* ...................................................... */
@media screen and (max-width : 1024px) {
    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-home {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-logo-slider {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    header .container .row {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;
    }


    header .middle ul {
        display: flex;
        gap: 20px;
        justify-content: end;
    }

    header .middle ul li a {
        font-weight: 800;
        font-size: 10px;
    }

    header .right a {
        border: 1px solid #fff;
        padding: 10px;
        font-size: 12px;
    }

    /* ................................. */

    section.home .container-home h3 {
        font-size: 12px;
        padding-bottom: 20px;
    }

    section.home .container-home h1 {
        font-size: 50px;
        padding-bottom: 20px;
        padding-bottom: 40px;
    }

    section.home .container-home a {
        padding: 12px;
        background-color: #FF0000;
        font-size: 14px;
    }

    /* ....................................... */

    section.logo-slider .swiper-slide {
        text-align: center;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    /* ......................................... */

    section.news .swiper-button-prev:after {
        font-size: 15px;
        color: #fff;
        background-color: #FF0000;
        padding: 15px 20px;
        font-weight: 700;
    }

    section.news .swiper-button-next:after {
        font-size: 10px;
        color: #fff;
        background-color: #FF0000;
        padding: 12px;
        font-weight: 700;
        margin-left: 50px;
    }

    section.news .swiper-button-prev:after {
        font-size: 10px;
        color: #fff;
        background-color: #FF0000;
        padding: 12px;
        font-weight: 700;
        margin-left: 25px;
    }

    section.news .heading h2 {
        font-size: 35px;
        color: #000;
    }

    section.news .card-content {
        background: #000;
        padding: 20px;
    }

    section.news .card-content h2 {
        font-size: 16px;
    }

    section.news .card-content p {
        padding-top: 10px;
        font-family: sans-serif;
        padding-bottom: 30px;
        font-size: 12px;
    }

    section.news .card-content a {
        color: #fff;
        background: #FF0000;
        padding: 3px;
        font-size: 12px;
    }

    /* ............................................... */

    section.success .row .left .top h2 {
        padding: 30px;
        line-height: 1.51;
        font-size: 16px;
    }

    section.success .row .left .bottom {
        background: #FF0000;
        padding: 30px;
    }

    section.success .row .right .top {
        background-color: #FF0000;
        padding: 30px;
    }

    section.success .row .right .top h2 {
        font-size: 22px;
        text-align: center;
        padding-top: 20px;
    }

    section.success .row .right .bottom {
        background-color: #000;
        padding: 30px;
    }

    section.success .row .right .bottom h2 {
        font-size: 35px;
    }

    /* ........................................ */

    section.rated .row .right img {
        width: 30px;
    }

    section.rated .row .right h2 {
        font-size: 30px;
        color: #000;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 45px;
    }

    section.rated .row .right a {
        background-color: #FF0000;
        font-size: 12px;
        padding: 13px;
    }

    /* ........................................... */

    section.family .left {
        padding: 50px;
        align-self: center;
    }

    section.family .left h2 {
        font-size: 50px;
    }

    section.family .left .links {
        display: flex;
        gap: 10px;
    }

    section.family .left .links svg {
        padding: 15x;
        color: #FF0000;
        background: #fff;
    }

    /* ............................................ */

    footer {
        background: #000;
        padding-top: 70px;
    }

    footer .footer-links ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-top: 35px;
    }

    footer .footer-links ul li a {
        font-size: 10px;
    }

    footer .footer-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-top: 30px;
        padding-bottom: 26px;
        font-size: 12px;
    }
}

@media screen and (max-width : 768px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-home {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-logo-slider {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* ................................................... */

    header .middle ul {
        display: flex;
        gap: 40px;
        display: none;
    }

    /* ............................... */

    section.home .container-home h3 {
        font-size: 12px;
        padding-bottom: 20px;
    }

    section.home .container-home h1 {
        font-size: 30px;
        padding-bottom: 20px;
        padding-bottom: 40px;
    }

    section.home .container-home a {
        padding: 10px;
        background-color: #FF0000;
        font-size: 12px;
    }

    /* .............................. */

    section.logo-slider .swiper-slide {
        text-align: center;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    /* ..................................... */

    section.news .heading h2 {
        font-size: 30px;
        color: #000;
    }

    section.news .card-content {
        background: #000;
        padding: 10px;
    }

    section.news .card-content h2 {
        font-size: 14px;
    }

    section.news .card-content p {
        padding-top: 10px;
        font-family: sans-serif;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 1.4;
    }

    section.news .card-content a {
        color: #fff;
        background: #FF0000;
        padding: 3px;
        font-size: 10px;
    }

    section.news .swiper-slide {
        display: flex;
        gap: 12px;
    }

    /* ......................................... */

    section.success .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    section.success .row .left .top h2 {
        padding: 14px;
        line-height: 1.51;
        font-size: 20px;
    }

    section.success .row .left .bottom {
        background: #FF0000;
        padding: 14px;
    }

    section.success .row .right .top {
        background-color: #FF0000;
        padding: 14px;
    }

    section.success .row .right .top h2 {
        font-size: 15px;
        text-align: center;
        padding-top: 20px;
    }

    section.success .row .right .bottom {
        background-color: #000;
        padding: 14;
    }

    section.success .row .right .bottom h2 {
        font-size: 20px;
        line-height: 1.51;
    }

    /* ................................................. */

    section.rated .row .right {
        align-self: center;
    }

    section.rated .row .right h2 {
        font-size: 20px;
        color: #000;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    section.rated .row .right a {
        background-color: #FF0000;
        font-size: 10px;
        padding: 10px;
    }

    /* .................................................. */


    section.family .left {
        padding: 30px;
        align-self: center;
    }

    section.family .left h2 {
        font-size: 30px;
    }

    section.family .left .links {
        display: flex;
        gap: 10px;
        padding-top: 20px;
    }

    section.family .left .links svg {
        padding: 12px;
        color: #FF0000;
        background: #fff;
    }

    /* ........................................ */

    
footer{
    background: #000;
    padding-top: 130px;
}

footer .logo-footer{
    display: block;
    margin: auto;
}

footer .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding-top: 62px;
}

footer .footer-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
}

footer .footer-links ul li a{
    font-size: 10px;
}

footer .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 26px;
    font-size: 10px;
}

}

@media screen and (max-width : 575px){
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-home {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-logo-slider {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

     /* ................................................... */

     header .middle ul {
        display: flex;
        gap: 40px;
        display: none;
    }

    .parent{
        flex: 1;
    }

    /* ............................... */

    section.home .container-home h3 {
        font-size: 10px;
        padding-bottom: 10px;
    }

    section.home .container-home h1 {
        font-size: 20px;
        padding-bottom: 10px;
        padding-bottom: 20px;
    }

    section.home .container-home a {
        padding: 8px;
        background-color: #FF0000;
        font-size: 10px;
    }

    /* ............................. */

    section.news .heading h2 {
        font-size: 20px;
        color: #000;
    }

    section.news .swiper-button-prev:after {
        font-size: 10px;
        padding: 10px;
 }
    
    section.news .swiper-button-next:after {
        font-size: 10px;
        padding: 10px;
        margin-left: 70px;
    }

    section.news .swiper-slide {
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    /* ....................................... */

    
section.success .row .left .top h2 {
    padding: 15px;
    line-height: 1.51;
    font-size: 12px;
}

section.success .row .left .bottom {
    background: #FF0000;
    padding: 15px;
}

section.success .row .middle img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

section.success .row .right .top{
    background-color: #FF0000;
    padding: 15px;
}

section.success .row .right .top h2{
    font-size: 16px;
    text-align: center;
}

section.success .row .right .bottom{
    background-color: #000;
    padding: 15px;
}

section.success .row .right .bottom h2{
    font-size: 15px;
}

/* .................................................. */


section.rated .row{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
}

/* .................................. */

section.family .row{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #FF0000;
    position: relative;
}

/* ............................... */


footer .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .footer-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-top: 55px;
}

footer .footer-links ul li a{
    font-size: 8px;
}

footer .footer-bottom {
    font-size: 8px;
text-align: center;
}

}


@media only screen and (min-width : 1600px){
    .container-sixteenk{
        width : 1216px;
        margin: 0 auto;
    }
}