@font-face {
    font-family: akira;
    src: url(../font/Akira\ Expanded\ Demo.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: akira;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.active {
    color: #FF0000;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

.container-home {
    max-width: 1031px;
    margin: 0 auto;
}

.container-logo-slider {
    max-width: 1032px;
    margin: 0 auto;
}

.container-sixteenk {
    width: 100%;
    margin: 0 auto;
}

ul li a:hover {
    color: #FF0000;
    transition: .3s ease-in;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

header .container .row {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    padding-top: 30px;
}

header .container .left a {
    display: inline-block;
    width: 174px;
}

header .middle ul {
    display: flex;
    gap: 40px;
    justify-content: center;
}

header .middle ul li a {
    font-weight: 800;
    font-size: 14px;
}

header .right {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}

header .right a {
    border: 1px solid #fff;
    padding: 13px 16.5px;
    font-size: 14px;
}

header .right a:hover {
    border: 1px solid #FF0000;
    background: #FF0000;
    transition: ease 1s;
}

/* header end */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* home start */

section.home {
    background: url(../img/team-professional-cybersport-gamers-celebrating-success-gaming-club\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

section.home .container-home {
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
}

section.home .container-home h3 {
    font-size: 16px;
}

section.home .container-home h1 {
    font-size: 70px;
    padding-top: 17px;
    line-height: 70px;
    margin-bottom: 40px;
}

section.home .container-home h1 span {
    color: #FF0000;
}

section.home .container-home a {
    display: inline-block;
    padding: 17px 20px;
    background-color: #FF0000;
    font-size: 18px;
}

section.home .container-home a:hover {
    color: #FFf;
    border: 1px solid #FFf;
    background: transparent;
    transition: all ease 1s;
}

/* home end */
/* ,,,,,,,,,,,,,,,,,,,,,,,,, */
/* logo-slider start */

section.logo-slider {
    padding-top: 50px;
}

section.logo-slider .swiper-slide {
    width: fit-content;
}

.parent {
    display: flex;
    align-items: center;
}

section.logo-slider .swiper-slide img {
    display: block;
    object-fit: cover;
}

/* section logo-slider end*/
/* ..................................... */
/* section news start */

section.news {
    padding-top: 116px;
}

section.news .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.news .news-pagination {
    position: relative;
    right: 55px;
}

section.news .news-prev {
    color: #fff;
    background-color: #FF0000;
    padding: 18px 23px;
    font-weight: 700;
}

section.news .news-prev:after {
    display: none;
}

section.news .news-next {
    color: #fff;
    background-color: #FF0000;
    padding: 18px 23px;
    font-weight: 700;
}

section.news .news-next:after {
    display: none;
}

section.news .heading h2 {
    font-size: 50px;
    color: #000;
}


section.news .card-content {
    background: #000;
    padding: 25px 55px 27px 30px;
}

section.news .card-content h2 {
    font-size: 22px;
}

section.news .card-content p {
    margin-top: 10px;
    font-family: sans-serif;
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 19.6px;
}

section.news .card-content .learn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 177px;
    background: #FF0000;
    padding: 3px 8px 3px 8px;
    transition: ease-in-out all 0.5s;
}

section.news .card-content .learn:hover {
    width: 100%;
}

section.news .card-content a {
    color: #fff;
    font-size: 14px;
}

section.news .row {
    padding-top: 30px;
}

section.news .swiper {
    display: flex;
}

section.news .swiper-slide {
    display: flex;
}

section.news .swiper-slide .card-img img {
    display: block;
    object-fit: cover;
    filter: grayscale(1);
}

/* section news end */
/* ............................ */
/* section success start */

section.success {
    margin-top: 150px;
    margin-bottom: 150px;
}

section.success .row {
    display: grid;
    grid-template-columns: 384px 336px 495px;
    justify-content: center;
}

section.success .row .left {
    height: 100%;
    display: grid;
}


section.success .row .left .top {
    background: #000;
    padding-right: 77px;
    padding-left: 75px;
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
}

section.success .row .left .top h2 {
    line-height: 31px;
    font-size: 22px;
}

section.success .row .left .bottom {
    background: #FF0000;
    padding-right: 81px;
    padding-left: 79px; 
}

section.success .row .left .bottom svg {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

section.success .row .middle {
    /* width: 338px; */
    height: 100%;
    display: grid;

}

section.success .row .middle img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    /* max-height: 858px; */
}

section.success .row .right {
    /* width: 495px; */
    height: 100%;
    display: grid;
}

section.success .row .right .top {
    background-color: #FF0000;
    padding: 7px 109px 20px 90px;

}

section.success .row .right .top svg {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

section.success .row .right .top h2 {
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
}

section.success .row .right .bottom {
    background-color: #000;
    padding: 47px 67px 47px 64px;
}

section.success .row .right .bottom h2 {
    line-height: 55px;
    font-size: 55px;
}

/* sectin success end */
/* ........................... */
/* section next start */

section.next {
    background: #000;
}

section.next .row {
    display: grid;
    grid-template-columns: 30% 70%;
}

section.next .row .left {
    padding-top: 85px;
}

section.next .row .left h2 {
    margin-top: 15px;
    font-size: 50px;
}

section.next .row .left p {
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
}

section.next .row .left p.vs {
    margin-top: 10px;
}

section.next .row .left p.red {
    margin-top: 53px;
    color: #FF0000;
    margin-bottom: 87px;
}

section.next .row .right {
    margin-top: 79px;
    padding-left: 160px;
}

section.next .row .right .row {
    align-items: center;
    display: grid;
    grid-template-columns: 260px 75px 260px;
    grid-gap: 44px;
}

section.next .row .right .row .left-r img {
    background: #fff;
    padding: 53.5px 58.5px;
}

section.next .row .right .row .middle-r h2 {
    width: fit-content;
    color: #FF0000;
    font-size: 40px;
}

section.next .row .right .row .right-r img {
    background: #fff;
    padding: 83px 66px;
}

section.next .container h2 {
    font-size: 22px;
}

section.next .row2 p {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
}

section.next .row2 {
    display: grid;
    grid-template-columns: 4% 17% 26% 28% 10% 11%;
    align-items: center;
    padding: 28px 0 0 0;
    padding-bottom: 14px;
    padding-right: 0;
}

section.next .row2 .one {
    width: fit-content;
}

section.next .row2 .two {
    padding-left: 35px;
    width: fit-content;
}

section.next .row2 .three {
    padding-left: 122px;
    width: fit-content;
}

section.next .row2 .four {
    padding-left: 177px;
}

section.next .row2 .five {
    width: fit-content;
    padding-left: 30px;
}

section.next .row2 .six {
    padding-right: 19px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

section.next .row-light h3 {
    color: #fff9f92f;
}

section.next .row-light p {
    color: #fff9f92f;
}

section.next .row3 {
    padding-top: 10px;
    border-top: 1px solid #fff9f92f;
}

section.next .row3 .four {
    display: flex;
    align-items: center;
    gap: 20px;
}

section.next .row3 .four h3 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

section.next .row4{
    padding-bottom: 35px;
}


/* section next end */
/* ........................... */
/* section rated start */

section.rated {
    padding: 150px 0;
    padding-bottom: 60px;
}

section.rated .row {
    display: grid;
    grid-template-columns: 56% 40%;
    gap: 33px;
}

section.rated .row .left img {
    width: 100%;
    height: 100%;
}

section.rated .row .right {
    padding-top: 100px;
    padding-bottom: 100px;
}

section.rated .row .right h2 {
    font-size: 50px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 60px;
}

section.rated .row .right a {
    background-color: #FF0000;
    font-size: 18px;
    padding: 18.5px 20px;
    display: inline-block;
}

section.rated .row .right a:hover {
    color: #FF0000;
    border: 1px solid #FF0000;
    background: transparent;
    transition: all ease 1s;
}

/* section.rated end  */
/* ............................. */
/* section family start */

section.family .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FF0000;
    position: relative;
}

section.family .left {
    padding: 180px 128px 180px 128px;
    align-self: center;
}

section.family .left h2 {
    font-size: 80px;
    line-height: 80px;
}

section.family .left .links {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
}

section.family .left .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 72px;
    height: 70px;
}

section.family .right img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

/* section family end */
/* ............................... */
/* footer start */

footer {
    background: #000;
    padding-top: 130px;
}

footer .logo-footer {
    display: block;
    margin: auto;
}

footer .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding-top: 78px;
}

footer .footer-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 69px;
}

footer .footer-links ul li a {
    font-size: 14px;
}

footer .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 65px;
    padding-bottom: 35px;
    font-size: 16px;
}

footer .footer-bottom a:hover {
    color: #FF0000;
    transition: .5s ease all;
}