@font-face {
    font-family: akira;
    src: url(../font/Akira\ Expanded\ Demo.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: akira;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.active {
    color: #FF0000;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

.container-home {
    max-width: 1031px;
    margin: 0 auto;
}

.container-logo-slider {
    max-width: 1032px;
    margin: 0 auto;
}

.container-sixteenk {
    width: 100%;
    margin: 0 auto;
}

ul li a:hover {
    color: #FF0000;
    transition: .3s ease-in;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 31px;
}

header .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

header .middle ul {
    display: flex;
    gap: 40px;
}

header .middle ul li a {
    font-weight: 800;
    font-size: 14px;
}

header .right {
    display: flex;
    justify-content: end;
    align-items: center;
}

header .right a {
    border: 1px solid #fff;
    padding: 13px 16px;
    font-size: 14px;
}

header .right a:hover {
    border: 1px solid #FF0000;
    background: #FF0000;
    transition: ease 1s;
}

/* header end */
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* home start */

section.home {
    background: url(../img/team-professional-cybersport-gamers-celebrating-success-gaming-club\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

section.home .container-home {
    padding-top: 187px;
    padding-bottom: 226px;
    text-align: center;
}

section.home .container-home h3 {
    font-size: 16px;
}

section.home .container-home h1 {
    font-size: 70px;
    padding-top: 17px;
    line-height: 70px;
    margin-bottom: 57px;
}

section.home .container-home h1 span {
    color: #FF0000;
}

section.home .container-home a {
    padding: 18.5px 20px;
    background-color: #FF0000;
    font-size: 18px;
}

section.home .container-home a:hover {
    color: #FFf;
    border: 1px solid #FFf;
    background: transparent;
    transition: all ease 1s;
}

/* home end */
/* ,,,,,,,,,,,,,,,,,,,,,,,,, */
/* logo-slider start */

section.logo-slider {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.logo-slider .swiper {
    width: 100%;
}

.parent {
    display: flex;
    align-items: center;
}

section.logo-slider .swiper-slide img {
    display: block;
    /* width: 100%; */
    object-fit: cover;
}

/* section logo-slider end*/
/* ..................................... */
/* section news start */

section.news {
    padding-top: 66px;
}

section.news .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.news .news-pagination {
    position: relative;
    right: 55px;
}

section.news .news-prev {
    color: #fff;
    background-color: #FF0000;
    padding: 18px 23px;
    font-weight: 700;
}

section.news .news-prev:after {
    font-size: 15px;
    display: none;
}

section.news .news-next {
    color: #fff;
    background-color: #FF0000;
    padding: 18px 23px;
    font-weight: 700;
}

section.news .news-next:after {
    font-size: 15px;
    display: none;
}

section.news .heading h2 {
    font-size: 50px;
    color: #000;
}

section.news .card-content {
    background: #000;
    padding: 25px 55px 27px 30px;
}

section.news .card-content h2 {
    font-size: 22px;
}

section.news .card-content p {
    margin-top: 10px;
    font-family: sans-serif;
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 19.6px;
}

section.news .card-content a {
    color: #fff;
    background: #FF0000;
    padding: 3px;
    font-size: 14px;
}

section.news .row {
    padding-top: 30px;
}

section.news .swiper {
    display: flex;
}

section.news .swiper-slide {
    background: #fff;
    display: flex;
}

section.news .swiper-slide img {
    display: block;
    object-fit: cover;
    filter: grayscale(1);
}

/* section news end */
/* ............................ */
/* section success start */

section.success {
    padding-top: 150px;
}

section.success .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section.success .row .left {
    width: 384px;
}

section.success .row .left .top {
    background: #000;
}

section.success .row .left .top h2 {
    padding-top: 96px;
    padding-right: 77px;
    padding-bottom: 93px;
    padding-left: 75px;
    line-height: 31px;
    font-size: 22px;
}

section.success .row .left .bottom {
    background: #FF0000;
    padding-top: 83px;
    padding-right: 81px;
    padding-bottom: 56px;
    padding-left: 79px;
}

section.success .row .left .bottom svg {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

section.success .row .middle {
    width: 338px;
}

section.success .row .middle img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    max-height: 858px;
}

section.success .row .right {
    width: 495px;
}

section.success .row .right .top {
    background-color: #FF0000;
    padding: 7px 109px 20px 90px;

}

section.success .row .right .top svg {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

section.success .row .right .top h2 {
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
}

section.success .row .right .bottom {
    background-color: #000;
    padding: 47px 67px 47px 64px;
}

section.success .row .right .bottom h2 {
    line-height: 55px;
    font-size: 55px;
}

/* sectin success end */
/* ........................... */
/* section next start */

section.next{
    background: #000;
    margin-top: 150px;
    padding-bottom: 45px;
}

section.next .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 75px;
}

section.next .row .left h4{ 
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
}
section.next .row .left h2{
    font-size: 50px;
}

section.next .row .left p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
}

section.next .row .left p.red{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: #FF0000;
    padding-top: 50px;
    padding-bottom: 50px;
}

section.next .row .right{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: center;
}

section.next .row .right .rleft {
    background: #fff;
    padding: 50px;
}

section.next .row .right .rleft img{
    padding: 0px;
    display: block;
    margin: auto;
    width: 100%;
}

section.next .row .right .rmiddle {
    text-align: center;
}

section.next .row .right .rmiddle h2{
    font-size: 40px;
    color: #FF0000;
    /* padding-left: 45px; */
    /* padding-right: 45px; */
}

section.next .row .right .rright {
    background: #fff;
    padding: 70px 54px;
}

section.next .row .right .rright img{
    padding: 25px;
    display: block;
    margin: auto;
    width: 100%;
}

section.next .container h2{
    font-size: 22px;
}

section.next .row2{
    display: grid;
    grid-template-columns: 3% 17% 20% 20% 20% 20%;
    padding-top: 30px;
    align-items: center;
    opacity: 100%;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #fff; */
}



section.next .row2 .one h2{
    font-size: 22px;
    opacity: 20%;
    text-align: center;
}

section.next .row2 .two p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    opacity: 20%;
    text-align: center;
}

section.next .row2 .three p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: end;
    opacity: 20%;
}

section.next .row2 .four{
   display: flex;
   justify-content: right;
}

section.next .row2 .five p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    opacity: 20%;
}

section.next .row2 .six{
    display: flex;
    gap: 30px;
    justify-content: right;
    align-items: center;
 }

 section.next .row2 .six h3{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    opacity: 20%;
 }

 section.next .row3{
    display: grid;
    grid-template-columns: 3% 17% 20% 20% 20% 20%;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 20px;
    border-top: 1px solid #ffffff3a;
}
 
section.next .row3 .one h2{
    font-size: 22px;
    text-align: center;
}

section.next .row3 .two p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
}

section.next .row3 .three p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: end;
}

section.next .row3 .four{
   display: flex;
   justify-content: right;
   align-items: center;
   gap: 20px;
}

section.next .row3 .four h3{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

section.next .row3 .five p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
}

section.next .row3 .six{
    display: flex;
    gap: 30px;
    justify-content: right;
    align-items: center;
 }

 section.next .row3 .six h3{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
 }

/* section next end */
/* ........................... */
/* section rated start */

section.rated {
    padding: 150px 0;
}

section.rated .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
}

section.rated .row .left img {
    width: 100%;
    height: 566px;
}

section.rated .row .right {
    padding-top: 118px;
    padding-bottom: 113px;
}

section.rated .row .right h2 {
    font-size: 50px;
    color: #000;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 60px;
}

section.rated .row .right a {
    background-color: #FF0000;
    font-size: 18px;
    padding: 18.5px 20px;
}

section.rated .row .right a:hover {
    color: #FF0000;
    border: 1px solid #FF0000;
    background: transparent;
    transition: all ease 1s;
}

/* section.rated end  */
/* ............................. */
/* section family start */

section.family .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FF0000;
    position: relative;
}

section.family .left {
    padding: 181px 120px 180px 112px;
    align-self: center;
}

section.family .left h2 {
    font-size: 80px;
    line-height: 80px;
}

section.family .left .links {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
}

section.family .left .links a {
    padding: 22px;
    background-color: #fff;
    align-items: center;
}

section.family .right img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

/* section family end */
/* ............................... */
/* footer start */

footer {
    background: #000;
    padding-top: 130px;
}

footer .logo-footer {
    display: block;
    margin: auto;
}

footer .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding-top: 62px;
}

footer .footer-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 55px;
}

footer .footer-links ul li a {
    font-size: 14px;
}

footer .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 26px;
    font-size: 16px;
}

footer .footer-bottom a:hover {
    color: #FF0000;
    transition: .5s ease all;
}